body {
  background-color: #ffffff;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: hsl(240, 100%, 96%);
    backdrop-filter: blur(10px);
  }
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
